* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}
html{
    scroll-behavior: smooth;
    scrollbar-color: black;
    scrollbar-width: 20px;
    background-color: rgb(255, 255, 255);
}
h1{
    color: white;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
a:hover{
    color: orange;
}
header{
    position: relative;
    padding: 0 2rem;
}
.nav{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.togglebtn{
    color: white;
}
.nav .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.nav .logo{
    color: white;
}
.nav .links{
    display: flex;
    gap: 2rem
}
.nav .togglebtn{
    color: white;
    font-size: 1.5 rem;
    cursor: pointer;
    display: none;
}
.nav .actionbtn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.actionbtn:hover{
    scale: 1.20;
    color:white;
}
.actionbtn:active{
    scale: 0.95;
}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}
    
}
/*responsive design*/
@media (max-width:900px){ .links{ visibility: hidden; } }